<template slot="menu-items">
  <ul>
    <li> <a href="/components/preview/home_page"> Home </a> </li>
    <li> <a href="/components/preview/account_page"> Account </a> </li>
    <li> <a href="/components/preview/list"> Products </a> </li>
  </ul>
</template>

