<template slot="menu-items">
  <ul>
    <li> <a href="/components/preview/home"> Home </a> </li>
    <li> <a href="/components/preview/account"> Account </a> </li>
    <li> <a href="/components/preview/list"> Products </a> </li>
  </ul>
</template>

