<div id="vue-container">
  <x-account p-welcome-msg="{{ WelcomerMsg }}"
             p-user-active-code="1afd647d-d919-46b0-8392-869d370b29ea"
             p-email="ricardo9300@gmail.com">
    {{ render "@menu" }}
  </x-account>
</div>

{{!-- p-come-from-active-link="{{true}}" --}}

<script src="{{ path '/account.bundle.js' }}"></script>
