<div id="vue-container">
  <x-account
    p-welcome-msg="{{ WelcomerMsg }}"
    p-user-active-code="cccbfaf3-ed55-4827-9604-0eb62adc696d"
    p-email="ricardo9300@gmail.com">
    {{ render "@menu" }}
  </x-account>
</div>

{{!-- p-come-from-active-link --}}
{{!-- p-come-from-forgot-link --}}

<script src="{{ path '/account.bundle.js' }}"></script>
