<div id="vue-container">
  <x-account p-welcomemsg="{{ WelcomerMsg }}"
             p-useractivecode="9d4bfd96-6eb6-4c6a-9412-bd3ff06e0191"
             p-email="ricardo9300@gmail.com">
    {{ render "@menu" }}
  </x-account>
</div>

{{!-- p-comefromactivelink="{{true}}" --}}

<script src="{{ path '/account.bundle.js' }}"></script>
