.c-home {

  &__main-nav {
    position: fixed;
    top: 5%;
  }

  &__auth-nav {
    position: fixed;
    top: 1.5%;
    right: 2%;
  }

  // @media only screen and (min-width: 812px) {
  //   &__main-nav {
  //     top: 10%;
  //   }
  // }

}
