$PrimaryColor: #74CFC5;
$SecondColor: #E64E84;

$DarkBlue: #3F4079;
$SmokeRed: rgb(131, 59, 54);
$SmokeGreen: rgba(140, 187, 64, 0.74);
$SmokeBackGround: #F5F8FA;

$WhiteBackGround: #fff;

$PrimaryFont: 'Poppins', sans-serif;


