.c-menu-nav {
  padding: 0px;
  //width: 35%;

  & ul, li {
    display: block;
    padding: 5px 5px;

    background: $PrimaryColor;
    border-radius: 3px;
  }

  & ul, li, a {
    color: $White;
    text-decoration: none;
  }

  & ul, li, a:hover {
    color: $SecondColor;
    text-decoration: none;
  }

}

