.c-conectaDetail {
  width: 750px;
  margin: 15px auto;
  background: #F5F8FA;
  padding-bottom: 25px;
  font-family: $PrimaryFont;

  &__title {
    background: $PrimaryColor;
    color: #fff;
    padding: 15px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  &__top-container {
    border-bottom: 1px solid $PrimaryColor;

    &::after {
      content: " ";
      clear: both;
      display: table;
    }

  }

  &__img {

    & > img {
      float: left;
      width: 150px;
      height: 150px;
      margin: 15px;
      border-radius: 3px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                  0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

  }

  &__top-fields {
    margin: 5px 0px;
    padding-top: 25px;
  }

  &__botton-container {
    padding: 15px 15px;
    margin: 20px 0px;
  }

}

