.c-search {
  margin: 15px auto;

  @media only screen and (min-width: 812px) {
    width: 740px;
  }

  &__top-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
    font-family: $PrimaryFont;
    color: #fff;
    border-radius: 3px;
  }

  &__img-banner {

    & > img {
      pointer-events: none;
      position: absolute;
      width: 740px;
      height: 250px;
      left: 0;
      z-index: -2;
    }

    &::after {
      content: " ";
      position: absolute;
      background-color: rgba(84, 84, 84, 0.8);
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  &__title {
    margin: 5px auto auto 0px;
    font-weight: bolder;
    font-size: 2.35rem;
    letter-spacing: 1.8px;
  }

  &__subtitle {
    margin: 5px 5px;
  }

  &__input-container {
    margin: 15px 5px;

    & > input {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-color: #fff;
      width: 200px;
      height: 37px;
      padding: 0px 10px;
      box-shadow: 0 0 50px 0 rgba(0,0,0,.35);
      color: black;
    }

    & > input:focus {
      border-color: #fff;
      outline: none;
    }

    & > button {
      height: 41px;
      background-color: $PrimaryColor;
      margin-left: -4px;
      color: #fff;
      width: 85px;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      border: 1px solid $PrimaryColor;
      font-weight: bolder;
    }

    & > button:hover {
      background-color: $SecondColor;
      border: 1px solid $SecondColor;
      cursor: pointer;
    }

  }

  &__message {
    display: inline-block;
    width: 100%;
    height: 15px;

    & > span {
      display: inline-block;
      width: 100%;
      background: rgba(201, 40, 40, 0.445);
      text-align: center;
      font-size: 15px;
    }
  }

  &__botton-container {
    display: inline-block;
    width: 100%;
    height: 450px;
    background-color: $SmokeBackGround;
    margin: auto;
    text-align: center;
  }

  &__spiner {
    margin: 150px auto;
  }

}
