.searchCard {

  display: inline-block;
  width: 96%;
  margin: 4px 2%;
  background: white;

  &__img {
    float: left;
    margin: 10px 10px;
  }

  &__field-container {
    float: left;
    padding-top: 20px;
    width: 70%;
    text-align: left;
  }

  &__lock {
    float: right;
    padding-top: 15px;
    margin: 0px 50px 0px 0px;
  }

}
